<!-- views/confirm.ejs -->
<h2><%= __('unsubscribe_greeting', sessionData.first_name) %></h2>
<p><%= __('unsubscribe_paragraph') %></p>
<a id="unsubscribe-btn" class="unsubscribe-link" href="/edm/unsubscribe/check"><%= __('unsubscribe_button') %></a>

<div class="info">
  <h2><%= __('unsubscribe_info_heading') %></h2>
  <p><%= __('unsubscribe_label_email') %>: <%= sessionData.email %></p>
  <p><%= __('unsubscribe_label_first_name') %>: <%= sessionData.first_name %></p>
  <p><%= __('unsubscribe_label_last_name') %>: <%= sessionData.last_name %></p>
  <p><%= __('unsubscribe_label_is_news') %>: <%= sessionData.is_news %></p>
  <p><%= __('unsubscribe_label_website') %>: <%= sessionData.website %></p>
  <p><%= __('unsubscribe_label_lang') %>: <%= sessionData.lang %></p>
</div>

<!-- Overlay container (initially hidden) -->
<div id="overlay" style="display: none;">
  <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
</div>

<script>
  document.getElementById('unsubscribe-btn').addEventListener('click', function(event) {
    // event.preventDefault(); // Stop default navigation
    
    // Show the overlay
    const overlay = document.getElementById('overlay');
    overlay.style.display = 'flex';
  });
</script>
  