<!-- views/fail.ejs -->
<h1><%= __('unsubscribe_fail_greeting', errorData.sessionData.first_name) %></h1>
<p><%= __('unsubscribe_fail_paragraph') %></p>

<div class="info">
  <h2><%= __('unsubscribe_info_heading') %></h2>
  <p><%= __('unsubscribe_label_email') %>: <%= errorData.sessionData.email %></p>
  <p><%= __('unsubscribe_label_first_name') %>: <%= errorData.sessionData.first_name %></p>
  <p><%= __('unsubscribe_label_last_name') %>: <%= errorData.sessionData.last_name %></p>
  <p><%= __('unsubscribe_label_is_news') %>: <%= errorData.sessionData.is_news %></p>
  <p><%= __('unsubscribe_label_website') %>: <%= errorData.sessionData.website %></p>
  <p><%= __('unsubscribe_label_lang') %>: <%= errorData.sessionData.lang %></p>
</div>

<div class="error">
  <h2><%= __('error_heading') %></h2>
  <p>Status: <%= errorData.status %></p>
  <p>Message: <%= errorData.msg %></p>
</div>
